<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmKYglTErj6t_OpyWLA3J3Gkgj5rxaBZU</string>
	<key>GCM_SENDER_ID</key>
	<string>220683252898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ibetter.app</string>
	<key>PROJECT_ID</key>
	<string>ibetter</string>
	<key>STORAGE_BUCKET</key>
	<string>ibetter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220683252898:ios:e5a35a416df33839db93fb</string>
</dict>
</plist>